body {
  /* background: linear-gradient(135deg, #0f172a, #1e293b); */
  background: linear-gradient(135deg, #0b192c, #1e3e62);
  background-attachment: fixed;
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.quizContainer {
  height: 75vh;
  width: 45vw;
  margin-top: 18vh;
  background: #153448;
   border: 2px solid #dfc06b;
   box-shadow: 0 0 15px rgba(223, 192, 107, 0.3);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  position: absolute;
  display: flex;
  justify-content: center;
}
h1 {
  color:  #e1f3ff;
  text-align: center;
  margin-top: 10px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 5rem;
  font-weight: 500;
  letter-spacing: 2px;
  margin-right: 40px;
}
.headingSpan {
  color:#5978cb;
  font-size: 6rem;
}
#next{
  display: none;
}
#quizBtn , #next {
 height: 30px;
 width: 200px;
    background: linear-gradient(
    to bottom,
    #00518e 30%,
    #448cf1 100%
  );
  background-attachment: fixed;
  position: absolute;
  margin-top: 430px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
}
.content{
  margin-top: 10px;
  height: 65vh;
  width: 41vw;
  display: grid;
  padding: 30px;
  justify-content: center;
}
.options{
  height: 30px;
  width: auto;
  background-color: rgb(132, 132, 255);
  border: none;
  font-size: 18px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgb(0, 0, 0);
  display: none;
  color: rgba(255, 255, 255, 0.852);
}
#question{
  font-size: 23px;
  color: #e1f3ff;
}
#next.active-button{
  display: inline;
}
.wrongAnws{
  background: rgb(168, 0, 0);
}
.options:active{
  scale: calc(0.90);
}
.hidden {
  display: none;
}
.bgChange{
  background: rgba(0, 128, 0, 0.658);
}
.orBg{
  background: linear-gradient(135deg, #344c7e, #163a9c);
}
.visible {
  display: inline;
}
.popUp{
  height: 300px;
  width: 450px;
  background: #004ba158;
  border: 2px solid #dfc06b;
  box-shadow: 0 0 15px rgba(223, 192, 107, 0.3);
  border-radius: 10px;
  position: absolute;
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: last baseline;
  display: none;
              
}

#Memory-match, #restart {
  height: 40px;
  width: auto;
  background: #0047aa;
  margin-bottom: 20px;
  border: 1px solid rgba(0, 0, 255, 0.379);
  box-shadow: 0px 0px 10px rgb(2, 2, 2);
  border-radius: 10px;
  margin: 10px;
  font-size: 15px;
  color: #e1f3ff;
}
button:active{
  transform: scale(1.1);
}