body {
  background: linear-gradient(135deg, #0f172a, #1e293b);
  background-attachment: fixed;
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.quizContainer {
  height: 75vh;
  width: 45vw;
  margin-top: 18vh;
  background: linear-gradient(135deg, #344c7e, #163a9c);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  box-shadow: 0 0 15px #040057c5;
  position: absolute;
  display: flex;
  justify-content: center;
}
h1 {
  color:  #e1f3ff;
  text-align: center;
  margin-top: 10px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 5rem;
  font-weight: 500;
  letter-spacing: 2px;
  margin-right: 40px;
}
.headingSpan {
  color:#5978cb;
  font-size: 6rem;
}
#next{
  display: none;
}
#quizBtn , #next {
 height: 30px;
 width: 200px;
    background: linear-gradient(
    to bottom,
    #00518e 30%,
    #448cf1 100%
  );
  background-attachment: fixed;
  position: absolute;
  margin-top: 430px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
}
.content{
  margin-top: 10px;
  height: 65vh;
  width: 41vw;
  display: grid;
  padding: 30px;
  justify-content: center;
}
.options{
  height: 30px;
  width: auto;
  background-color: rgb(132, 132, 255);
  border: none;
  font-size: 18px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgb(0, 0, 0);
  display: none;
}
#question{
  font-size: 23px;
}
#next.active-button{
  display: inline;
}
.options:active{
  scale: calc(0.90);
}
.hidden {
  display: none;
}
.bgChange{
  background: green;
}
.orBg{
  background: linear-gradient(135deg, #344c7e, #163a9c);
}
.visible {
  display: inline;
}